/*
* @Author: Ren
* @Date:   2018-01-22 16:15:00
* @Last Modified by:   Ren
* @Last Modified time: 2018-01-23 08:40:39
*/

body{
	background: url('../../image/cats.jpg');
	font-size: 20px;
	color: red;
}